@model InvoiceWebApp.Models.Company

@{
    ViewData["Title"] = "Create Company";
}

@section HEAD {
	<link rel="stylesheet" href="~/css/company.css" />
}

<div class="container" id="create-company">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 0px;">Create Company</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12 col l10 offset-l1">
            <form asp-controller="Companies" asp-action="Create">

                <fieldset>
                    <legend>Company Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">business</i>
                            <input id="icon_name" type="text" asp-for="CompanyName" />
                            <label for="icon_name">Company Name</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">markunread_mailbox</i>
                            <input id="icon_reg" type="text" asp-for="RegNumber" />
                            <label for="icon_reg">Registration Number</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_email" type="email" asp-for="Email" class="validate" />
                            <label for="icon_email" data-error="This email address is not valid."
							   data-success="This email address is valid.">Email</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">phone</i>
                            <input id="icon_phone" type="text" asp-for="Phone" />
                            <label for="icon_phone">Phone</label>
                        </div>
                    </div>
                </fieldset>

                <br />

                <fieldset>
                    <legend>Financial Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">credit_card</i>
                            <input id="icon_bank" type="text" asp-for="BankAccount" />
                            <label for="icon_bank">Bank Account No</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">account_balance</i>
                            <input id="icon_bank-name" type="text" asp-for="BankName" />
                            <label for="icon_bank-name">Name of Bank</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">card_membership</i>
                            <input id="icon_fin" type="text" asp-for="FinancialNumber" />
                            <label for="icon_fin">VAT No</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <!--
                                <i class="material-icons prefix">card_membership</i>
                                <input id="icon_eu-fin" type="text" asp-for="EUFinancialNumber" />
                                <label for="icon_eu-fin">EU Financial No</label>
                            -->
                        </div>
                    </div>
                </fieldset>

                <br />

                <fieldset>
                    <legend>Address</legend>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">place</i>
                            <input id="icon_address" type="text" asp-for="Address" />
                            <label for="icon_address">Address</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">place</i>
                            <input id="icon_postal" type="text" asp-for="PostalCode" />
                            <label for="icon_postal">Postal Code</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">place</i>
                            <input id="icon_city" type="text" asp-for="City" />
                            <label for="icon_city">City</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">place</i>
                            <input id="icon_country" type="text" asp-for="Country" />
                            <label for="icon_country">Country</label>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div id="button-area">
                        <button id="create-company-btn" type="submit" value="Create"
                                class="btn-large indigo darken-1 waves-effect waves-light">
                            <i class="material-icons left">create</i>
                            <span>Create</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="indigo-text text-darken-1">Back to Overview</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}