@model InvoiceWebApp.Models.Company

@{
    ViewData["Title"] = "Remove Company";
}

@section HEAD {
	<link rel="stylesheet" href="~/css/company.css" />
}

<div class="container" id="remove-company">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 0px;">Remove Company</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12 col l10 offset-l1">
            <form asp-controller="Companies" asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this company and all his invoices?');">
                <input type="hidden" asp-for="CompanyID" />

                <fieldset>
                    <legend>Company Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">business</i>
                            <input id="icon_name" type="text" asp-for="CompanyName" disabled />
                            <label for="icon_name">Company Name</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">markunread_mailbox</i>
                            <input id="icon_reg" type="text" asp-for="RegNumber" disabled />
                            <label for="icon_reg">Company ID</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_email" type="email" asp-for="Email" class="validate" disabled />
                            <label for="icon_email">Email</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">phone</i>
                            <input id="icon_phone" type="text" asp-for="Phone" disabled />
                            <label for="icon_phone">Phone</label>
                        </div>
                    </div>
                </fieldset>

                <br />

                <fieldset>
                    <legend>Financial Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">credit_card</i>
                            <input id="icon_bank" type="text" asp-for="BankAccount" disabled />
                            <label for="icon_bank">Bank Account No</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">account_balance</i>
                            <input id="icon_bank-name" type="text" asp-for="BankName" disabled />
                            <label for="icon_bank-name">Name of Bank</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">card_membership</i>
                            <input id="icon_fin" type="text" asp-for="FinancialNumber" disabled />
                            <label for="icon_fin">VAT No</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <!--
                                <i class="material-icons prefix">card_membership</i>
                                <input id="icon_eu-fin" type="text" asp-for="EUFinancialNumber" />
                                <label for="icon_eu-fin">EU Financial No</label>
                            -->
                        </div>
                    </div>
                </fieldset>

                <br />

                <fieldset>
                    <legend>Address</legend>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">place</i>
                            <input id="icon_prefix" type="text" asp-for="Address" disabled />
                            <label for="icon_prefix">Address</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">place</i>
                            <input id="icon_prefix" type="text" asp-for="PostalCode" disabled />
                            <label for="icon_prefix">Postal Code</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">place</i>
                            <input id="icon_prefix" type="text" asp-for="City" disabled />
                            <label for="icon_prefix">City</label>
                        </div>
                        <div class="input-field col s12 col m12 col l6">
                            <i class="material-icons prefix">place</i>
                            <input id="icon_prefix" type="text" asp-for="Country" disabled />
                            <label for="icon_prefix">Country</label>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div id="button-area">
                        <button id="remove-company-btn" type="submit" value="Remove"
                                class="btn-large indigo darken-1 waves-effect waves-light">
                            <i class="material-icons left">delete</i>
                            <span>Remove</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="indigo-text text-darken-1">Back to Overview</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}