@model InvoiceWebApp.Models.Company

@{
    ViewData["Title"] = "Company Details";
}

<div class="container grey lighten-4" id="details-company">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Company Details</h4>
        </div>
    </div>

    <div class="row" style="padding-left: 75px;">
        <div class="col s12 col m12">
            <form class="col s12 col m12">

                <div class="row">
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">business</i>
                        <input id="icon_prefix" type="text" asp-for="CompanyName" class="validate" disabled>
                        <label for="icon_prefix">Company Name</label>
                    </div>
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">place</i>
                        <input id="icon_prefix" type="text" asp-for="Address" class="validate" disabled>
                        <label for="icon_prefix">Address</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">markunread_mailbox</i>
                        <input id="icon_prefix" type="text" asp-for="RegNumber" class="validate" disabled>
                        <label for="icon_prefix">Registration Number</label>
                    </div>
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">place</i>
                        <input id="icon_prefix" type="text" asp-for="PostalCode" class="validate" disabled>
                        <label for="icon_prefix">Postal Code</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">email</i>
                        <input id="icon_prefix" type="email" asp-for="Email" class="validate" disabled>
                        <label for="icon_prefix">Email</label>
                    </div>

                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">place</i>
                        <input id="icon_prefix" type="text" asp-for="City" class="validate" disabled>
                        <label for="icon_prefix">City</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">phone</i>
                        <input id="icon_prefix" type="text" asp-for="Phone" class="validate" disabled>
                        <label for="icon_prefix">Phone</label>
                    </div>

                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">place</i>
                        <input id="icon_prefix" type="text" asp-for="Country" class="validate" disabled>
                        <label for="icon_prefix">Country</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">credit_card</i>
                        <input id="icon_prefix" type="text" asp-for="BankAccount" class="validate" disabled>
                        <label for="icon_prefix">Bank Account No</label>
                    </div>
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">account_balance</i>
                        <input id="icon_prefix" type="text" asp-for="BankName" class="validate" disabled>
                        <label for="icon_prefix">Name of Bank</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">card_membership</i>
                        <input id="icon_prefix" type="text" asp-for="FinancialNumber" class="validate" disabled>
                        <label for="icon_prefix">Financial No</label>
                    </div>
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">card_membership</i>
                        <input id="icon_prefix" type="text" asp-for="EUFinancialNumber" class="validate" disabled>
                        <label for="icon_prefix">EU Financial No</label>
                    </div>
                </div>

                <div class="divider" style="background-color: #cecece;"></div>

                <div class="row">
                    <button id="change-company-btn" type="submit" value="Save" class="btn btn-large center-align z-depth-3 waves-effect waves-light light-green"
                            asp-action="Edit" asp-route-id="@Model.CompanyID">
                        <i class="material-icons left">edit</i>
                        <span>Edit</span>
                    </button>

                    <br />

                    <a asp-action="Index" class="light-green-text text-darken-1 center-align">Back to Overview</a>
                </div>

            </form>
        </div>
    </div>

</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}