@using static InvoiceWebApp.Models.AppSettings
@model InvoiceWebApp.Models.User

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AppSettings settings = null;
    if (SessionHelper.IsExists(Context.Session, "Settings"))
    {
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    }
}

<div>
    <div class="section center-align">
        <h4 class="white-text">FORGOT PASSWORD</h4>
    </div>

    <div id="forgot-row" class="row">
        <div class="col s12 col m12 col l8 offset-l2">
            <form id="forgot-form" asp-controller="Users" asp-action="ForgotPassword">

                <!--Email-->
                <div class="row">
                    <div class="input-field col s12 col m12 col l12">
                        <i class="material-icons prefix">account_circle</i>
                        <input asp-for="Email" id="email" type="email" class="validate grey-text text-darken-3">
                        <label class="grey-text text-darken-3" for="email">Email</label>
                    </div>
                </div>

                <!--Password-->
                <div class="row">
                    <div class="input-field col s12 col m12 col l12">
                        <i class="material-icons prefix">lock</i>
                        <input asp-for="Password" id="password" type="password" class="validate grey-text text-darken-3">
                        <label class="grey-text text-darken-3" for="password">New Password</label>
                    </div>
                </div>

                <!--Button-->
                <div class="row">
                    <button id="forgot-button" type="submit"
                            class="btn indigo darken-1 white-text waves-effect waves-light">
                        Change
                    </button>

                    <br />

                    <a id="login-link" asp-controller="Users" asp-action="Login"
                       class="indigo-text text-darken-1">Back to Sign In</a>
                </div>

                
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}