@using static InvoiceWebApp.Models.AppSettings
@model InvoiceWebApp.Models.User

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AppSettings settings = null;
    if (SessionHelper.IsExists(Context.Session, "Settings"))
    {
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    }
}

<div class="container">
    <div class="section">
        <h3 class="center-align" style="font-family:Roboto, sans-serif;">Forgot Password</h3>
    </div>

    <div class="row grey lighten-3" style="width:95%;margin:0 auto;">
        <div class="col s12 col m12">
            <form id="login-form" asp-controller="Users" asp-action="ForgotPassword">
                <!--Email-->
                <div class="row" style="padding-left:22%;">
                    <div class="input-field col s12 col m12 col l12">
                        <input asp-for="Email" id="email" type="email" class="validate grey-text text-darken-3" style="max-width:80%;">
                        <label class="grey-text text-darken-3" for="email">Email</label>
                    </div>
                </div>
                <!--Password-->
                <div class="row" style="padding-left:22%;">
                    <div class="input-field col s12 col m12 col l12">
                        <input asp-for="Password" id="password" type="password" class="validate grey-text text-darken-3" style="max-width:80%;">
                        <label class="grey-text text-darken-3" for="password">Password</label>
                    </div>
                </div>
                <!--Button-->
                <div class="row">
                    <button type="submit" class="btn z-depth-2 light-green darken-1 right white-text wave-effect wave-green">CHANGE</button>
                </div>
            </form>
        </div>
    </div>

    <br />

    <div class="divider">
    </div>

    <br />

    <div class="row right" style="padding-right: 40px;padding-top: 0px;">
        <a asp-action="Login" style="font-weight: bold;" class="light-green-text text-darken-1">Back to Login</a>
    </div>

    <br />
    <br />
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}