@model InvoiceWebApp.Models.User
@inject ApplicationDbContext _context
@using System.Diagnostics
@using InvoiceWebApp.Data
@using InvoiceWebApp.Models

@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AppSettings settings = null;
    if (SessionHelper.IsExists(Context.Session, "Settings")) {
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    }
    if (!SessionHelper.IsExists(Context.Session, "Settings")) {
        settings = _context.Settings.FirstOrDefault();
        SessionHelper.Set(Context.Session, "Settings", settings);
    }
}

@section HEAD {
	<link rel="stylesheet" href="~/css/login-forgot.css" />
}

<div>
    <div class="section center-align" style="padding-bottom: 5px;padding-top: 0px;">
        <h4 class="white-text">SIGN IN</h4>
    </div>

    <div class="row" id="login-row">
        <div class="col s12 col m12 col l6 offset-l3">
            <form id="login-form" asp-controller="Users" asp-action="Login" method="post" autocomplete="off">

                <!--Email-->
                <div class="row">
					<div class="input-field col s12 col m12 col l12">
						<i class="material-icons prefix">account_circle</i>
						<input asp-for="Email" id="email" type="email" class="validate grey-text text-darken-3">
						<label class="grey-text text-darken-3" for="email" 
							   data-error="This email address is not valid."
							   data-success="This email address is valid.">
							Email
						</label>
					</div>
                </div>

                <!--Password-->
                <div class="row">
                    <div class="input-field col s12 col m12 col l12">
						<i class="material-icons prefix">lock</i>
                        <input asp-for="Password" id="password" type="password" class="grey-text text-darken-3">
                        <label class="grey-text text-darken-3" for="password">Password</label>
                    </div>
                </div>

                <!--Button-->
                <div class="row center-align">
                    <button id="login-button" type="submit"
                        class="btn indigo darken-1 white-text waves-effect waves-light">Sign In</button>

                    <br />

                    <a id="forgot-link" asp-action="ForgotPassword"
                       class="indigo-text text-darken-1">Forgot your password?</a>
                </div>

                
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

	<script>
		$(document).ready(function () {
			changeEmailLabel();
			changePasswordLabel();
		});

		$("input").on("keyup", function () {
			changePasswordLabel();
			changeEmailLabel();
		});

		function changePasswordLabel() {
			if ($("#password").val().length > 0) {
				$("#password").parent().find("label").css("transform", "translateY(-14px) scale(0.8)");
				$("#password").parent().find("label").css("transform-origin", "0 0");
			} else {
				$("#password").parent().find("label").css("transform", "translateY(12px)");
				$("#password").parent().find("label").css("transform-origin", "0 100%");
			}

			if ($("#email").val().length > 0 && $("#password").val().length == 0) {
				$("#password").parent().find("label").css("transform", "translateY(-14px) scale(0.8)");
				$("#password").parent().find("label").css("transform-origin", "0 0");
			}
		}

		function changeEmailLabel() {
			if ($("#email").val().length > 0) {
				$("#email").parent().find("label").css("transform", "translateY(-14px) scale(0.8)");
				$("#email").parent().find("label").css("transform-origin", "0 0");
			} else {
				$("#email").parent().find("label").css("transform", "translateY(12px)");
				$("#email").parent().find("label").css("transform-origin", "0 100%");
			}
		}
	</script>
}