@model InvoiceWebApp.Models.User
@inject ApplicationDbContext _context
@using System.Diagnostics
@using InvoiceWebApp.Data
@using InvoiceWebApp.Models

@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AppSettings settings = null;
    if (SessionHelper.IsExists(Context.Session, "Settings")) {
        settings = SessionHelper.Get<AppSettings>(Context.Session, "Settings");
    }
    if (!SessionHelper.IsExists(Context.Session, "Settings")) {
        settings = _context.Settings.FirstOrDefault();
        SessionHelper.Set(Context.Session, "Settings", settings);
    }
}

<div>
    <div class="section center-align" style="font-family:Roboto, sans-serif;">
        <h4>Sign In</h4>
    </div>

    <div class="row" id="login-row">
        <div class="col s12 col m12 col l8 offset-l2">
            <form id="login-form" asp-controller="Users" asp-action="Login">

                <!--Email-->
                <div class="row">
                    <div class="input-field col s12 col m12 col l8 offset-l2">
                        <input asp-for="Email" id="email" type="email" class="validate grey-text text-darken-3">
                        <label class="grey-text text-darken-3" for="email">Email</label>
                    </div>
                </div>

                <!--Password-->
                <div class="row">
                    <div class="input-field col s12 col m12 col l8 offset-l2">
                        <input asp-for="Password" id="password" type="password" class="validate grey-text text-darken-3">
                        <label class="grey-text text-darken-3" for="password">Password</label>
                    </div>
                </div>

                <!--Button-->
                <div class="row">
                    <button id="login-button" type="submit"
                        class="btn light-green right white-text waves-effect waves-light">Sign In</button>
                </div>

                <a id="forgot-links" asp-action="ForgotPassword" style="font-weight: bold;" class="light-green-text">Forgot Password?</a>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}