@model InvoiceWebApp.Models.Invoice

@{
    ViewData["Title"] = "Create Invoice";
    var cnt = 0;
}

<div class="container" id="create-invoice">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Create Invoice</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12 col l12">
            <form asp-controller="Invoices" asp-action="Create">

                <div class="row">
                    <div class="col s12 col m12 col l5">
                        <fieldset>
                            <legend>Invoice Information</legend>

                            <div class="row" id="debtor-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <select id="select_debtor" asp-for="DebtorID" asp-items="ViewBag.DebtorID">
                                        <option value="-1">--</option>
                                    </select>
                                    <label for="select_debtor">Choose Debtor</label>
                                </div>
                            </div>

                            <div class="row" id="company-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">business</i>
                                    <select id="select_company" asp-for="CompanyID" asp-items="ViewBag.CompanyID">
                                        <option value="-1">--</option>
                                    </select>
                                    <label for="select_company">Choose Company</label>
                                </div>
                            </div>

                            <div class="row">
                                <label for="icon_created" style="padding-left: 57px;">Invoice Date</label>
                                <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                    <i class="material-icons prefix">today</i>
                                    <input asp-for="CreatedOn" id="icon_created createdon" />
                                </div>
                            </div>

                            <div class="row">
                                <label for="icon_expired" style="padding-left: 57px;">Invoice Expiration Date</label>
                                <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                    <i class="material-icons prefix">today</i>
                                    <input asp-for="ExpirationDate" id="icon_expired expired" />
                                </div>
                            </div>

                            <div class="row">
                                <label id="total-label" for="total">Total</label>
                                <div class="input-field col s12 col m12 col l6">
                                    <i class="material-icons prefix">euro_symbol</i>
                                    <input id="total" name="total" type="text" readonly />
                                </div>
                            </div>

                            <div class="row" id="type-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">save</i>
                                    <select id="select_type" asp-for="Type">
                                        <option value="Concept">Concept</option>
                                        <option value="Final">Final</option>
                                    </select>
                                    <label for="select_type">Save As</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col s12 col m12 col l7">

                        <fieldset>
                            <legend>Products</legend>

                            <div id="products">
                                <div id="product-control" class="row">
                                    <div class="input-field col s12 col m8 col l8">
                                        <select id="_product" asp-items="ViewBag.Products">
                                            <option value="-1">--</option>
                                        </select>
                                        <label>Product</label>
                                    </div>

                                    <div class="input-field col s8 col m2 col l2">
                                        <input id="_amount" placeholder="Qnt." />
                                    </div>

                                    <div class="input-field col s4 col m2 col l2">
                                        <a href="#" id="delete-row-btn" 
                                           class="btn red darken-1 waves-effect waves-light">
                                            <i class="material-icons">remove</i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <a href="#" id="add-row-btn" class="btn light-green waves-effect waves-light">
                                <i class="material-icons">add</i>
                            </a>
                        </fieldset>
                       
                    </div>
                </div>

                <div class="row">
                    <div id="button-area">
                        <button id="create-invoice-btn" type="button" value="Create"
                                class="btn-large light-green waves-effect waves-light">
                            <i class="material-icons left">create</i>
                            <span>Create</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="light-green-text">Back to Overview</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $("#products select").material_select();
            $("#debtor-row #select_debtor").material_select();
            $("#company-row #select_company").material_select();
            $("#type-row #select_type").material_select();

            /* VARIABLES */
            var total = "";
            var count = 0;
            var productArray = new Array();
            var amountArray = new Array();

            /*-------------------------------------------------------------------------------------------*/
            /* SET ON OF THE SELECTS READ-ONLY BASED ON SELECTION */
            $("#debtor-row #select_debtor").change(function () {
                var optionSelected = $(this).find("option:selected");
                var valueSelected = optionSelected.val();
                var textSelected = optionSelected.text();

                if (textSelected != "--") {
                    $("#company-row > div > div > input").prop("disabled", true);
                }
                if (textSelected == "--") {
                    $("#company-row > div > div > input").prop("disabled", false);
                }
            });

            $("#company-row #select_company").change(function () {
                var optionSelected = $(this).find("option:selected");
                var valueSelected = optionSelected.val();
                var textSelected = optionSelected.text();

                if (textSelected != "--") {
                    $("#debtor-row > div > div > input").prop("disabled", true);
                }
                if (textSelected == "--") {
                    $("#debtor-row > div > div > input").prop("disabled", false);
                }
            });

            /*-------------------------------------------------------------------------------------------*/
            /* AUTOMATICALLY SET EXPIRATION DATE */
            $("#createdon").on("change", function () {
                var value = $("#createdon").val();

                var day = value.split('-')[2];
                var month = value.split('-')[1];
                var year = value.split('-')[0];

                var num = Number.parseInt(month) + 1;

                if (num < 10) {
                    num = "0" + num.toString();
                } else {
                    num = num.toString();
                }

                var newDate = year + "-" + num + "-" + day;

                $("#expired").val(newDate);
                $("#expired").text(newDate);
            });

            /*-------------------------------------------------------------------------------------------*/
            /* SET PRODUCT VALUE */
            $("#products option:selected").each(function () {
                $("#product").on('change', function () {
                    calcTotal();
                });
            })

            /*-------------------------------------------------------------------------------------------*/
            /* SET AMOUNT VALUE */
            $("#products #_amount").on('change', function () {
                calcTotal();
            });

            /*-------------------------------------------------------------------------------------------*/
            /* CHANGE FORM URL WHEN CLICKED ON CREATE */
            $("#create-invoice-btn").on("click", function () {
                $("#products option:selected").each(function () {
                    productArray.push($(this).val().split('_')[0]);
                })

                $("#products #_amount").each(function () {
                    amountArray.push($(this).val());
                })

                productArray.splice(0, 1);
                amountArray.splice(0, 1);

                var totalPrice = $("#total").val();

                console.log(productArray.toString());
                console.log(amountArray.toString());
                console.log(totalPrice.toString());

                $("#form").attr("action", "Create/?pids=" + productArray.toString() + "&amounts=" + amountArray.toString() + "&total=" + totalPrice.toString());

                $("#form").submit();
            });

            /*-------------------------------------------------------------------------------------------*/
            /* ADD NEW DIV INSIDE #products*/
            $("#add-row-btn").on("click", function () {
                @{cnt++;}

                $("#product-control").show();
                var copy = $("#product-control").clone(true).appendTo("#products").prop("id", "product-row").find("input").val("");
                $("#product-control").hide();

                $("#products select").material_select();
            });

            /*-------------------------------------------------------------------------------------------*/
            /* REMOVE DIV INSIDE #products*/
            $("#delete-row-btn").on("click", function () {
                @{cnt--;}
                $(this).parent().parent().remove();

                calcTotal();
                $("#products select").material_select();
            });

        });

        /*-------------------------------------------------------------------------------------------*/

        /* FUNCTION TO CALCULATE TOTAL AND SHOW IN TOTAL BOX */
        function calcTotal() {

            var amounts = new Array();
            var pids = new Array();
            var totalPrice = Number.parseFloat("0");

            $("#products option:selected").each(function () {
                var id = $(this).val();
                console.log("product: "+ id);
                pids.push($(this).val());
            })

            $("#products #_amount").each(function () {
                var amount = $(this).val();
                console.log("amount: " + amount);
                amounts.push($(this).val());
            })

            //pids.splice(0, 1);
            //amounts.splice(0, 1);

            for (var i = 0; i < pids.length; i++) {
                var id = pids[i].split('_')[0];
                var p = pids[i].split('_')[1];
                var price = Number.parseFloat(p).toFixed(2);
                var amount = Number.parseInt(amounts[i]);

                totalPrice += (price * amount);
            }

            $("#total").prop("readonly", false);
            $("#total").val(totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 }));
            total = totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 });
            $("#total").prop("readonly", true);

            console.log('calculated: ' + total);
        }
    </script>
}