@model InvoiceWebApp.Models.Invoice

@{
    ViewData["Title"] = "Manage Invoice";
    var cnt = 0;
}

<div class="container" id="edit-invoice">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Manage Invoice</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12 col l12">
            <form id="form" asp-controller="Invoices" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="InvoiceNumber" />

                <div class="row">
                    <div class="col s12 col m12 col l5">
                        <fieldset>
                            <legend>Invoice Information</legend>

                            <div class="row" id="debtor-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">perm_identity</i>
                                    <select id="select_debtor" asp-for="DebtorID" asp-items="ViewBag.DebtorID" disabled>
                                        <option value="-1">--</option>
                                    </select>
                                    <label for="select_debtor">Choose Debtor</label>
                                </div>
                            </div>

                            <div class="row" id="company-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">business</i>
                                    <select id="select_company" asp-for="CompanyID" asp-items="ViewBag.CompanyID" disabled>
                                        <option value="-1">--</option>
                                    </select>
                                    <label for="select_company">Choose Company</label>
                                </div>
                            </div>

                            <div class="row">
                                <label for="icon_created" style="padding-left: 57px;">Invoice Date</label>
                                <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                    <i class="material-icons prefix">today</i>
                                    <input asp-for="CreatedOn" id="icon_created createdon" />
                                </div>
                            </div>

                            <div class="row">
                                <label for="icon_expired" style="padding-left: 57px;">Invoice Expiration Date</label>
                                <div class="input-field col s12 col m12 col l12" style="margin-top: 0px;">
                                    <i class="material-icons prefix">today</i>
                                    <input asp-for="ExpirationDate" id="icon_expired expired" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="input-field col s12 col m12 col l6">
                                    <i class="material-icons prefix">euro_symbol</i>
                                    <input id="total" name="total" type="text" disabled />
                                    <label for="total">Total</label>
                                </div>
                            </div>

                            <div class="row" id="type-row">
                                <div class="input-field col s12 col m12 col l12">
                                    <i class="material-icons prefix">save</i>
                                    <select id="select_type" asp-for="Type">
                                        <option value="Concept">Concept</option>
                                        <option value="Final">Final</option>
                                    </select>
                                    <label for="select_type">Save As</label>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                    <div class="col s12 col m12 col l7">

                        <fieldset>
                            <legend>Products</legend>

                            <div id="products">
                                <div id="product-control" class="row">
                                    <div class="input-field col s12 col m8 col l8">
                                        <select id="_product" asp-items="ViewBag.Products">
                                            <option value="-1">--</option>
                                        </select>
                                        <label>Product</label>
                                    </div>

                                    <div class="input-field col s8 col m2 col l2">
                                        <input id="_amount" placeholder="Qnt." />
                                    </div>

                                    <div class="input-field col s4 col m2 col l2">
                                        <a href="#" id="delete-row-btn"
                                           class="btn red darken-1 waves-effect waves-light">
                                            <i class="material-icons">remove</i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <br />

                            <a href="#" id="add-row-btn" class="btn light-green waves-effect waves-light">
                                <i class="material-icons">add</i>
                            </a>
                        </fieldset>

                    </div>
                </div>

                <div class="row">
                    <div id="button-area">
                        <button id="edit-invoice-btn" type="button" value="Save"
                                class="btn-large light-green waves-effect waves-light">
                            <i class="material-icons left">save</i>
                            <span>Save</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="light-green-text">Back to Overview</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#products select").material_select();
        $("#debtor-row #select_debtor").material_select();
        $("#company-row #select_company").material_select();
        $("#type-row #select_type").material_select();

        //Variables
        var firstRun = true;

        //Hide product-control row
        $("#product-control").hide();

        $(document).ready(() => {

            // Variables
            var total = t;
            var count = 0;
            var productArray = new Array();
            var amountArray = new Array();

            //Total
            var t = "@(ViewBag.Total)";
            $("#total").val(t);

            if (firstRun == true) {
                setRows();
            }

            /*-------------------------------------------------------------------------------------------*/
            /* AUTOMATICALLY SET EXPIRATION DATE */
            $("#createdon").on("change", () => {
                var value = $("#createdon").val();

                var day = value.split('-')[2];
                var month = value.split('-')[1];
                var year = value.split('-')[0];

                var num = Number.parseInt(month) + 1;

                if (num < 10) {
                    num = "0" + num.toString();
                } else {
                    num = num.toString();
                }

                var newDate = year + "-" + num + "-" + day;

                $("#expired").val(newDate);
                $("#expired").text(newDate);
            });

            /*-------------------------------------------------------------------------------------------*/
            // SET PRODUCT VALUE
            $("#products option:selected").each(() => {
                $("#product").on('change', () => {
                    calcTotal();
                });
            })

            $(document).on("change", "#products option:selected", () => {
                calcTotal();
            });

            /*-------------------------------------------------------------------------------------------*/
            // SET AMOUNT VALUE
            $("#products #_amount").on('change', () => {
                calcTotal();
            });

            $(document).on("change", "#products #_amount", () => {
                calcTotal();
            });

            /*-------------------------------------------------------------------------------------------*/
            // CHANGE FORM URL WHEN CLICKED ON CREATE
            $("#edit-invoice-btn").on("click", () => {
                $("#products option:selected").each(function () {
                    productArray.push($(this).val().split('_')[0]);
                });

                $("#products [id^=_product-]").each(function () {
                    var text = $(this).val();
                    var id = $(this).attr("id");
                    var pid = id.split("x")[1];

                    productArray.push(pid);
                });

                $("#products #_amount").each(function () {
                    amountArray.push($(this).val());
                });

                productArray.splice(0, 1);
                amountArray.splice(0, 1);

                var totalPrice = $("#total").val();

                console.log(productArray.toString());
                console.log(amountArray.toString());
                console.log(totalPrice.toString());

                $("#form").append('<input type="hidden" name="total" value="' + totalPrice + '" /> ');
                $("#form").append('<input type="hidden" name="pids" value="' + productArray.toString() + '" /> ');
                $("#form").append('<input type="hidden" name="amounts" value="' + amountArray.toString() + '" /> ');

                $("#form").submit();
            });

            /*-------------------------------------------------------------------------------------------*/
            // ADD NEW DIV INSIDE #products
            $("#add-row-btn").on("click", function () {
                @{cnt++;}

                $("#product-control").show();
                var copy = $("#product-control").clone(true).appendTo("#products").prop("id", "product-row").find("input").val("");
                $("#product-control").hide();

                $("#products #product-row select").material_select();
            });

            /*-------------------------------------------------------------------------------------------*/
            /* REMOVE DIV INSIDE #products*/
            $(document).on("click", "#delete-row-btn", function () {
                @{cnt--;}
                $(this).parent().parent().remove();

                calcTotal();
            })

            /*-------------------------------------------------------------------------------------------*/
            //SET PRODUCT ROWS
            function setRows() {
                var pids = new Array();
                var amounts = new Array();
                var pnames = new Array();

                @foreach (var pid in ViewBag.PIDs)
                {
                    @:pids.push('@(pid)');
                }
                @foreach (var amount in ViewBag.Amounts)
                {
                    @:amounts.push('@(amount)');
                }
                    @foreach (var name in ViewBag.Names)
                {
                    @:pnames.push('@(name)');
                }

                console.log("PIDs: " + pids);
                console.log("Amounts: " + amounts);
                console.log("PNames: " + pnames);

                for (var i = 0; i < amounts.length; i++) {
                    var amount = amounts[i];
                    var pid = pids[i];

                    var elementID = "_product-" + i.toString() + "x" + pid.split("_")[0];

                    var html = `
                        <div id="product-row-` + i + `" class="row">
                            <div class="input-field col s12 col m8 col l8">
                                <input id="` + elementID.toString() + `"  />
                            </div>

                            <div class="input-field col s8 col m2 col l2">
                                <input id="_amount" placeholder="Qnt." value="` + amount + `" disabled />
                            </div>

                            <div class="input-field col s4 col m2 col l2">
                                <a href="#" id="delete-row-btn"
                                    class="btn red darken-1 waves-effect waves-light">
                                    <i class="material-icons">remove</i>
                                </a>
                            </div>
                        </div>
                    `;

                    $("#products").append(html);
                }

                for (var i = 0; i < amounts.length; i++) {
                    var pid = pids[i];
                    var pname = pnames[i];

                    //var element = "#products #product-row-" + i.toString() + "#" + pid.toString();
                    var element = "#products #product-row-" + i.toString() + " #_product-" + i.toString() + "x" + pid.split("_")[0];

                    console.log("Element: " + element.toString());

                    $(element).prop("value", pname);
                    $(element).prop("disabled", true);

                    //Reset variables
                    pid = "";
                    pname = "";
                }

                @{cnt++; }
            }

            /*-------------------------------------------------------------------------------------------*/
            // FUNCTION TO CALCULATE TOTAL AND SHOW IN TOTAL BOX
            function calcTotal() {

                var amounts = new Array();
                var pids = new Array();
                var totalPrice = Number.parseFloat("0");

                $("#products option:selected").each(function () {
                    var id = $(this).val();

                    console.log("product: " + id);

                    pids.push($(this).val());
                });

                $("#products [id^=_product-]").each(function () {
                    var text = $(this).val();
                    var id = $(this).attr("id");
                    var pid = id.split("x")[1];

                    pids.push(pid);
                });

                $("#products #_amount").each(function () {
                    var amount = $(this).val();
                    console.log("amount: " + amount);
                    amounts.push($(this).val());
                });

                pids.splice(0, 1);
                amounts.splice(0, 1);

                for (var i = 0; i < pids.length; i++) {
                    var id = pids[i].split('_')[0];
                    var p = pids[i].split('_')[1];
                    var price = Number.parseFloat(p).toFixed(2);
                    var amount = Number.parseInt(amounts[i]);

                    totalPrice += (price * amount);
                }

                $("#total").prop("readonly", false);
                $("#total").val(totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 }));
                total = totalPrice.toLocaleString("nl-NL", { minimumFractionDigits: 2 });
                $("#total").prop("readonly", true);

                console.log('calculated: ' + total);
            }

        });
    </script>
}