@model InvoiceWebApp.Models.Product

@{
    ViewData["Title"] = "Remove Product";
}

<div class="container grey lighten-4" id="remove-product">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Remove Product</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 col m12">
            <form id="form" class="col s12 col m12" asp-controller="Products" asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this product?');">
                <input type="hidden" asp-for="ProductID" />

                <div class="row">
                    <div class="input-field col s12 col m12">
                        <i class="material-icons prefix">motorcycle</i>
                        <input id="icon_prefix" type="text" asp-for="Name" class="validate" disabled>
                        <label for="icon_prefix">Product Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 col m12">
                        <i class="material-icons prefix">border_color</i>
                        <textarea id="icon_prefix" asp-for="Description" class="materialize-textarea" disabled></textarea>
                        <label for="icon_prefix">Description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 col m12">
                        <i class="material-icons prefix">euro_symbol</i>
                        <input id="icon_prefix price" type="text" name="price" asp-for="Price" class="validate" disabled>
                        <label for="icon_prefix">Price</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 col m12">
                        <i class="material-icons prefix">exposure_plus_2</i>
                        <input id="icon_prefix vat" type="text" name="vat" asp-for="VAT" class="validate" disabled>
                        <label for="icon_prefix">VAT Percentage</label>
                    </div>
                </div>

                <div class="divider" style="background-color: #cecece;"></div>

                <div class="row">
                    <button id="remove-product-btn" type="submit" value="Edit"
                            class="btn btn-large center-align z-depth-3 waves-effect waves-light light-green">
                        <i class="material-icons left">delete</i>
                        <span>Remove</span>
                    </button>

                    <br />

                    <a asp-action="Index" class="light-green-text text-darken-1 center-align">Back to Overview</a>
                </div>
            </form>
        </div>
    </div>
</div>