@model InvoiceWebApp.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container" id="details-product">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Product Details</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12 col l10 offset-l1">
            <form>

                <fieldset>
                    <legend>Product Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">motorcycle</i>
                            <input id="icon_name" type="text" asp-for="Name" disabled />
                            <label for="icon_name">Product Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">border_color</i>
                            <input id="icon_desc" type="text" asp-for="Description" disabled />
                            <label for="icon_desc">Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">euro_symbol</i>
                            <input id="icon_price price" type="text" name="price" asp-for="Price" disabled />
                            <label for="icon_price">Unit Price</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">exposure_plus_2</i>
                            <input id="icon_vat" type="text" name="vat" asp-for="VAT" disabled />
                            <label for="icon_vat">VAT Percentage</label>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div id="button-area">
                        <button id="change-product-btn" type="submit" value="Edit"
                                class="btn-large indigo darken-1 waves-effect waves-light"
                                asp-action="Edit" asp-route-id="@Model.ProductID">
                            <i class="material-icons left">edit</i>
                            <span>Edit</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="indigo-text text-darken-1">Back to Overview</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
