@model InvoiceWebApp.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container" id="details-product">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Product Details</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col col m10 offset-m1">
            <form asp-controller="Products" asp-action="Create">

                <fieldset>
                    <legend>Product Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m8 offset-m3">
                            <i class="material-icons prefix">motorcycle</i>
                            <input id="icon_prefix" type="text" asp-for="Name" disabled>
                            <label for="icon_prefix">Product Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m8 offset-m3">
                            <i class="material-icons prefix">border_color</i>
                            <input id="icon_prefix" type="text" asp-for="Description" disabled />
                            <label for="icon_prefix">Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m8 offset-m3">
                            <i class="material-icons prefix">euro_symbol</i>
                            <input id="icon_prefix price" type="text" name="price" asp-for="Price" class="validate" disabled>
                            <label for="icon_prefix">Price</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m8 offset-m3">
                            <i class="material-icons prefix">exposure_plus_2</i>
                            <input id="icon_prefix" type="text" name="vat" asp-for="VAT" class="validate" disabled>
                            <label for="icon_prefix">VAT Percentage</label>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div id="button-area">
                        <button id="change-product-btn" type="submit" value="Edit"
                                class="btn-large light-green waves-effect waves-light"
                                asp-action="Edit" asp-route-id="@Model.ProductID">
                            <i class="material-icons left">edit</i>
                            <span>Edit</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="light-green-text">Back to Overview</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
