@model InvoiceWebApp.Models.Product

@{
    ViewData["Title"] = "Manage Product";
}

<div class="container" id="edit-product">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Manage Product</h4>
        </div>
    </div>

    <br />

    <!--Form-->
    <div class="row" style="margin-top: 5px;">
        <div class="col s12 col m12 col l10 offset-l1">
            <form id="form" asp-controller="Products" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductID" />

                <fieldset>
                    <legend>Product Information</legend>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">motorcycle</i>
                            <input id="icon_name" type="text" asp-for="Name" />
                            <label for="icon_name">Product Name</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">border_color</i>
                            <input id="icon_desc" type="text" asp-for="Description" />
                            <label for="icon_desc">Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">euro_symbol</i>
                            <input id="icon_price" name="price" type="text" />
                            <label for="icon_price">Unit Price</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">exposure_plus_2</i>
                            <input id="icon_vat" type="text" name="vat" asp-for="VAT" />
                            <label for="icon_vat">VAT Percentage</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 col m12 col l8 offset-l2">
                            <i class="material-icons prefix">label</i>
                            @Html.DropDownList("CategoryName", ViewBag.Categories as SelectList, "Select a category", new { @id = "category_select" })
                            <label for="category_select">Add to category</label>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div id="button-area">
                        <button id="edit-product-btn" type="submit" value="Save"
                                class="btn-large indigo darken-1 waves-effect waves-light">
                            <i class="material-icons left">save</i>
                            <span>Save</span>
                        </button>

                        <br />

                        <a asp-action="Index" class="indigo-text text-darken-1">Back to Overview</a>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //Variables
        var price = "@(ViewBag.Price)";
        var category = "@(ViewBag.Category)";
    </script>
    <script src="~/js/product/edit-product.js" type="text/javascript"></script>
}