@using static InvoiceWebApp.Models.AppSettings
@model InvoiceWebApp.Models.Admin

@{
    ViewData["Title"] = "Create Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container grey lighten-4" id="create-admin">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 40px;">Create Administrator</h4>
        </div>
    </div>

    <div class="row" style="padding-left: 75px;">
        <div class="col s12 col m12">
            <form class="col s12 col m12" asp-controller="Admins" asp-action="Create">

                <div class="row">
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">person_outline</i>
                        <input id="icon_prefix" type="text" asp-for="FirstName" class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">person_outline</i>
                        <input id="icon_prefix" type="text" asp-for="LastName" class="validate">
                        <label for="icon_prefix">Last Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">email</i>
                        <input id="icon_prefix" type="email" asp-for="Email" class="validate">
                        <label for="icon_prefix">Email</label>
                    </div>
                    <div class="input-field col s6 col m6">
                        <i class="material-icons prefix">lock</i>
                        <input id="icon_prefix" type="password" asp-for="Password" class="validate">
                        <label for="icon_prefix">Password</label>
                    </div>
                </div>

                <div class="divider" style="background-color: #cecece;"></div>

                <div class="row">
                    <button id="create-admin-btn" type="submit" value="Create" 
                            class="btn btn-large center-align z-depth-3 waves-effect waves-light light-green">
                        <i class="material-icons left">create</i>
                        <span>Create</span>
                    </button>

                    <br />

                    <a asp-action="Index" class="light-green-text text-darken-1 center-align">Back to Overview</a>
                </div>

            </form>
        </div>
    </div>

</div>