@model InvoiceWebApp.Models.AppSettings

@{
    ViewData["Title"] = "Settings";
}

<div class="container" id="settings-admin">

    <div class="row">
        <div class="col s12 col m12 center-align">
            <h4 style="margin-top: 0px;">Settings</h4>
        </div>
    </div>

    <br />

	<div class="row">
		<form asp-controller="Admins" asp-action="Settings" method="post" enctype="multipart/form-data" autocomplete="off">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<!--Begin of vertical tabs-->
			<div class="col s2 col m2 col l2">
				<ul class="tabs">
					<li class="tab"><a class="active" href="#company-tab">Company</a></li>
					<li class="tab"><a href="#finance-tab">Financial</a></li>
					<li class="tab"><a href="#invoice-tab">Invoice</a></li>
					<li class="tab"><a href="#email-tab">Email</a></li>
					<li class="tab"><a href="#address-tab">Address</a></li>
				</ul>
			</div>

			<div class="col s10 col m10 col l10">
				<div id="company-tab" class="col tab-content">
					<fieldset>
						<legend>Company</legend>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">business</i>
								<input id="icon_name" type="text" asp-for="CompanyName">
								<label for="icon_name">Name</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">markunread_mailbox</i>
								<input id="icon_reg" type="text" asp-for="RegNumber" />
								<label for="icon_reg">Company ID</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">phone</i>
								<input id="icon_phone" type="text" asp-for="Phone">
								<label for="icon_phone">Phone</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">mouse</i>
								<input id="icon_web" type="text" asp-for="Website">
								<label for="icon_web">Website</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div id="finance-tab" class="col tab-content">
					<fieldset>
						<legend>Finance</legend>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">credit_card</i>
								<input id="icon_bank" type="text" asp-for="BankAccountNumber" />
								<label for="icon_bank">Bank Account No</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">account_balance</i>
								<input id="icon_bank-name" type="text" asp-for="BankName" />
								<label for="icon_bank-name">Name of Bank</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">card_membership</i>
								<input id="icon_fin" type="text" asp-for="FinancialNumber" />
								<label for="icon_fin">VAT No</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<!--
						<i class="material-icons prefix">card_membership</i>
						<input id="icon_eu-fin" type="text" asp-for="EUFinancialNumber" disabled />
						<label for="icon_eu-fin">EU Financial No</label>
					-->
							</div>
						</div>
					</fieldset>
				</div>
				<div id="invoice-tab" class="col tab-content">
					<fieldset>
						<legend>Invoice</legend>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">format_italic</i>
								<input id="icon_pre" type="text" asp-for="Prefix" />
								<label for="icon_pre">Invoice Prefix</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">timer</i>
								<input id="icon_cycle" type="number" min="7" asp-for="InvoiceCycle" />
								<label for="icon_cycle">Invoice Cycle</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div id="email-tab" class="col tab-content">
					<fieldset>
						<legend>Email</legend>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">email</i>
								<input id="icon_email" type="email" asp-for="Email" class="validate">
								<label for="icon_email" data-error="This email address is not valid."
							   data-success="This email address is valid.">Email</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">lock</i>
								<input id="icon_password" type="text" asp-for="Password">
								<label for="icon_password">Password</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">email</i>
								<input id="icon_smtp" type="text" asp-for="SMTP">
								<label for="icon_smtp">SMTP</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">exposure_plus_2</i>
								<input id="icon_port" type="text" asp-for="Port">
								<label for="icon_port">SMTP Port</label>
							</div>
						</div>
					</fieldset>
				</div>
				<div id="address-tab" class="col tab-content">
					<fieldset>
						<legend>Address</legend>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">place</i>
								<input id="icon_address" type="text" asp-for="Address">
								<label for="icon_address">Address</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">place</i>
								<input id="icon_postal" type="text" asp-for="PostalCode">
								<label for="icon_postal">Postal Code</label>
							</div>
						</div>

						<div class="row">
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">place</i>
								<input id="icon_city" type="text" asp-for="City">
								<label for="icon_city">City</label>
							</div>
							<div class="input-field col s12 col m12 col l6">
								<i class="material-icons prefix">place</i>
								<input id="icon_country" type="text" asp-for="Country">
								<label for="icon_country">Country</label>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<!--End of vertical tabs-->


			<div class="row">
				<div id="button-area">
					<button id="save-settings-btn" type="submit" value="Save"
							class="btn-large indigo darken-1 waves-effect waves-light">
						<i class="material-icons left">save</i>
						<span>Save</span>
					</button>

					<br />

					<a asp-action="Index" class="indigo-text text-darken-1">Back to Home</a>
				</div>
			</div>

		</form>
	</div>

   

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //Variables
        let color = {};

        //Run when page has loaded
        $(document).ready(() => { 
			$("#showImageBox").hide();

			$("#settings-admin .row form ul.tabs").tabs();
        });

        //Show image in div when selected
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                $("#showImageBox").show();
                $("#showImageBox").css("border", "1px solid #444");

                var reader = new FileReader();
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });

        //Helper function
        function imageIsLoaded(e) {
            $("#showImageBox").attr("src", e.target.result);
            getColor();
        };

        //Helper function
        function getRGB(str) {
            var match = str.match(/rgba?\((\d{1,3}), ?(\d{1,3}), ?(\d{1,3})\)?(?:, ?(\d(?:\.\d?))\))?/);
            return match ? {
                red: match[1],
                green: match[2],
                blue: match[3]
            } : {};
        }

        //Get primary color of uploaded image and if necessary change the background color to make it more visible
        function getColor() {
            $.adaptiveBackground.run({
                parent: "1",
                success: function (data) {
                    console.log('Color: ', data["0"].dataset.abColor);
                    color = getRGB(data["0"].dataset.abColor);
                    console.log(color);
                }
            });

            var red = Number.parseInt(color.red);
            var green = Number.parseInt(color.green);
            var blue = Number.parseInt(color.blue);

            if ((red <= 255 && red >= 188)
                && (green <= 255 && green >= 188)
                && (blue <= 255 && blue >= 188)) {
                $("#showImageBox").css("background", "#444");
            }
        }
    </script>
}