/*-----------------------------------------------------------------------------------
    Pages: Admin
-----------------------------------------------------------------------------------*/

#admin-index,
#create-admin, #edit-admin,
#details-admin, #remove-admin,
#settings-admin {
	padding: 40px 40px;
	margin: 0 auto 40px auto;
	min-height: 250px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #616161;
	/* Shadow */
	-webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.60);
	-moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.60);
	box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.60)
}

/*-------------------------------------------------------------------------------------*/
/*----- Buttons --------------*/

#create-admin-btn, #edit-admin-btn,
#change-admin-btn, #remove-admin-btn {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 170px;
}

#create-admin-btn:hover, #edit-admin-btn:hover,
#change-admin-btn:hover, #remove-admin-btn:hover {
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

#create-admin-btn > span, #edit-admin-btn > span,
#change-admin-btn > span, #remove-admin-btn > span {
	height: 36px;
	line-height: 40px;
}

#add-admin-btn, #search-admin-btn {
	margin-top: -5px;
	width: 120px;
	vertical-align: middle;
}

/*-------------------------------------------------------------------------------------*/
/*----- Input --------------*/

/* Color of disabled input on detail and delete view*/
#details-admin input[type=text]:disabled, #remove-admin input[type=text]:disabled,
#details-admin input[type=email]:disabled, #remove-admin input[type=email]:disabled,
#details-admin input[type=password]:disabled, #remove-admin input[type=password]:disabled {
	color: rgba(0, 0, 0, 0.65) !important;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.65) !important;
}

/* Label color of disabled on detail and delete view*/
#details-admin input[type=text]:disabled + label, #remove-admin input[type=text]:disabled + label,
#details-admin input[type=email]:disabled + label, #remove-admin input[type=email]:disabled + label,
#details-admin input[type=password]:disabled + label, #remove-admin input[type=password]:disabled + label {
	color: rgba(0, 0, 0, 0.50) !important;
}

/*-------------------------------------------------------------------------------------*/
/*----- Media Query --------------*/

@media screen and (max-width: 768px) {
	#add-admin-btn, #search-admin-btn, #create-admin-btn {
		margin-top: 10px;
		width: 100%;
		display: block;
	}
}
