/*-----------------------------------------------------------------------------------
    Pages: Home
-----------------------------------------------------------------------------------*/

#home {
	padding: 40px 40px;
	margin: 0 auto;
	min-height: 250px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #616161;
	/* Shadow */
	-webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.60);
	-moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.60);
	box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.60)
}

#spacer {
	height: 0px;
}

/*-------------------------------------------------------------------------------------*/
/*----- Buttons --------------*/

#home-button {
	line-height: 50px;
}

#home-button:hover {
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

#home-button i {
	padding-right: 15px;
	position: relative;
	top: 3px;
}
