/*-----------------------------------------------------------------------------------
    Pages: Invoice
-----------------------------------------------------------------------------------*/

#invoice-index {
	padding: 40px 40px;
	margin: 0 auto 40px auto;
	min-height: 250px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #616161;
	/* Shadow */
	-webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.60);
	-moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.60);
	box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.60)
}

#create-invoice, #details-invoice,
#edit-invoice, #remove-invoice {
	padding: 40px 50px;
	margin: 0 auto 40px auto;
	min-height: 250px;
	width: 100%;
	background-color: #f1f1f1;
	border: 1px solid #d0d0d0;
	-webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
	box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*-------------------------------------------------------------------------------------*/
/*----- Input --------------*/

#_amount {
	max-width: 100%;
}

/* Color of disabled input on detail and delete view*/
#edit-invoice input[type=text]:disabled, #edit-invoice input[type=date]:disabled, 
#edit-invoice input:not([type]):disabled,
#details-invoice input[type=text]:disabled, #details-invoice input[type=date]:disabled, 
#details-invoice input:not([type]):disabled,
#remove-invoice input[type=text]:disabled, #remove-invoice input[type=date]:disabled, 
#remove-invoice input:not([type]):disabled {
	color: rgba(0, 0, 0, 0.65) !important;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.65) !important;
}

/* Label color of disabled on detail and delete view*/
#edit-invoice input[type=text]:disabled + label, #edit-invoice input[type=date]:disabled + label, 
#edit-invoice input:not([type]):disabled + label,
#details-invoice input[type=text]:disabled + label, #details-invoice input[type=date]:disabled + label, 
#details-invoice input:not([type]):disabled + label,
#remove-invoice input[type=text]:disabled + label, #remove-invoice input[type=date]:disabled + label, 
#remove-invoice input:not([type]):disabled + label {
	color: rgba(0, 0, 0, 0.50) !important;
}

/*-------------------------------------------------------------------------------------*/
/*----- Buttons --------------*/

#add-invoice-btn, #search-invoice-btn {
	margin-top: -5px;
	width: 120px;
	vertical-align: middle;
}

#delete-row-btn {
	margin-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	float: right;
}

#create-invoice-btn, #edit-invoice-btn,
#change-invoice-btn, #remove-invoice-btn {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 170px;
}

#create-invoice-btn > span,
#edit-invoice-btn > span,
#change-invoice-btn > span,
#remove-invoice-btn > span {
	height: 36px;
	line-height: 40px;
}

/*-------------------------------------------------------------------------------------*/
/*----- Labels --------------*/

#total-label {
	position: relative;
	left: -36%;
}

/*-------------------------------------------------------------------------------------*/
/*----- Media Query --------------*/

@media screen and (max-width: 768px) {
	#invoice-index,
	#create-invoice, #edit-invoice,
	#details-invoice, #remove-invoice {
		padding: 20px 15px;
	}

	#add-invoice-btn, #search-invoice-btn {
		margin-top: 10px;
		width: 100%;
	}

	#total-label {
		position: relative;
		left: 9%;
	}
}
