/*-----------------------------------------------------------------------------------
    Pages: Settings
-----------------------------------------------------------------------------------*/

#showImg {
	margin-top: 25px;
	max-height: 60%;
	max-width: 60%;
}

#settings-admin fieldset {
	margin: 10px auto;
}

#settings-admin .tabs {
	height: 100%;
	white-space: nowrap;
	margin: 15px 0;
	background-color: transparent;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
}

#settings-admin .tab {
	display: block;
	width: 100%;
	border-bottom: 1px solid #D0D0D0;
}

#settings-admin .tabs .tab {
	height: 50px;
	line-height: 50px;
}

#settings-admin .tabs .tab a {
	color: #3949ab;
	display: block;
	width: 100%;
	height: 100%;
	padding: 0 24px;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: color .28s ease;
}

#settings-admin .tabs .tab a.active {
	background-color: transparent;
	color: #2b3984;
	font-weight: bold;
}

#settings-admin .tab-content {
	height: 310px;
	width: 100%;
	background-color: transparent;
	border: 0px solid #FFF;
}

#settings-admin .indicator {
	display: none;
}

/*-------------------------------------------------------------------------------------*/
/*----- Buttons --------------*/

#save-settings-btn {
	margin-top: 15px;
	margin-bottom: 15px;
	width: 170px;
}

#save-settings-btn:hover {
	box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

#save-settings-btn > span {
	height: 36px;
	line-height: 40px;
}

/*-------------------------------------------------------------------------------------*/
/*----- Media Query --------------*/

@media screen and (max-width: 767px) {
	#spacer {
		height: 70px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	#settings-admin .tabs .tab a {
		color: #3949ab;
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		font-size: 13px;
		font-family: 'Lato', sans-serif;
		text-overflow: ellipsis;
		overflow: hidden;
		transition: color .28s ease;
		padding-left: 0px;
		padding-right: 0px;
	}
}
