@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Overpass|Raleway|Roboto');

/**
    // Elements
    * Body
    * Default CSS
    * Navigation
    * Title
    * Table
    * Fieldset
    * Buttons
    * Input
    * Chart
    * Login and Forgot
    * Search Form

    // Pages
    * Page: Home
    * Page: Settings
    * Page: Debtor
    * Page: Product
    * Page: Company
    * Page: User
    * Page: Admins
    * Page: Invoice
    * Page: My Invoice

    * Media Queries
**/

/*-----------------------------------------------------------------------------------
    Body CSS
-----------------------------------------------------------------------------------*/
body {
    background: rgba(243, 243, 243, 0.75);
    font-family: 'Overpass', sans-serif;
    padding-bottom: 0px;
}

/*-----------------------------------------------------------------------------------
    Default CSS
-----------------------------------------------------------------------------------*/
.body-content {
    padding-left: 75px;
    padding-right: 75px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
}

input,
select,
textarea {
    max-width: 280px;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}

/*-----------------------------------------------------------------------------------
    Navigation CSS
-----------------------------------------------------------------------------------*/
nav {
    box-shadow: 0px 7px 18px -6px rgba(0,0,0,0.66);
    -webkit-box-shadow: 0px 7px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 7px 18px -6px rgba(0,0,0,0.66);
}

.navbar-fixed {
    margin-bottom: 50px;
}

nav .brand-logo {
    font-family: 'Montserrat', RaleWay, sans-serif;
    font-weight: 100 !important;
}

nav .brand-logo.right {
    padding-right: 25px;
}

nav .brand-logo img {
    vertical-align: middle;
    padding-bottom: 10px;
}

nav ul a {
    transition: background-color .3s;
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 0 12px;
    cursor: pointer;
}

#settings-btn {
    display: block;
    height: 64px;
    line-height: 68.5px;
    text-align: center;
    color: #fff;
    transition: background-color .3s;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

#settings-btn i {
    text-shadow: 0px 0px 3px #000;
}

#settings-btn:hover i {
    text-shadow: 0px 3px 20px #000;
}

#settings-btn-mobile {
    display: none;
    text-align: center;
    color: #fff;
    background: #7cb342;
    transition: background-color .3s;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    width: 100%;
}

#account-btn {
    display: block;
    height: 64px;
    line-height: 68.5px;
    text-align: center;
    transition: background-color .3s;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

#account-btn:hover i {
    text-shadow: 0px 3px 20px #000;
}

#account-btn i {
    text-shadow: 0px 0px 3px #000;
}

#account-btn-mobile {
    display: none;
    text-align: center;
    transition: background-color .3s;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
    cursor: pointer;
    width: 100%;
}

#sidenav-overlay {
    z-index: 996;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
    text-align: center;
    background-color: #e2ffd5;
}

.side-nav .collapsible-body > ul:not(.collapsible) > li.active a, .side-nav.fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: #6e1abb;
    font-weight: bold;
}

/*-----------------------------------------------------------------------------------
    Title CSS
-----------------------------------------------------------------------------------*/
h4 {
    font-family: 'Raleway';
    font-weight: 600;
}

/*-----------------------------------------------------------------------------------
    Table CSS
-----------------------------------------------------------------------------------*/
.responsive-table {
    width: 80%;
    margin: 0 auto;
}

/*-----------------------------------------------------------------------------------
    Fieldset CSS
-----------------------------------------------------------------------------------*/
fieldset {
    border: 2px solid rgba(21, 101, 192, 0.2);
    margin: 0 2px;
    padding: 20px 24px;
    width: 100%;
    margin: 0 auto;
}

legend {
    font-family: 'Lato';
    font-weight: 300;
    padding: 4px 10px 4px 8px;
}

/*-----------------------------------------------------------------------------------
    Buttons CSS
-----------------------------------------------------------------------------------*/
#button-area {
    margin-right: 5%;
    margin-top: 15px;
    float: right;
    text-align: right;
}

#button-area a {
    font-size: 17px;
    padding-left: 0px;
}

#button-field {
    white-space: nowrap;
}

/*-----------------------------------------------------------------------------------
    Input CSS
-----------------------------------------------------------------------------------*/
input, select, textarea {
    max-width: 75%;
}

::-webkit-input-placeholder {
    color: #9a9a9a;
}

::-webkit-input-placeholder:focus {
    color: #2b2b2b;
}

input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #7cb342;
    box-shadow: 0 1px 0 0 #7cb342;
}

input[type=email]:focus:not([readonly]) + label {
    color: #2b2b2b;
}

.input-field label {
    color: #9a9a9a;
}

.input-field input[type=text]:focus + label {
    color: #2b2b2b;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #7cb342;
    box-shadow: 0 1px 0 0 #7cb342;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #7cb342;
    box-shadow: 0 1px 0 0 #7cb342;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid #E23834;
    box-shadow: 0 1px 0 0 #E23834;
}

.input-field .prefix.active {
    color: #7cb342;
}

input[type="checkbox"]:checked + label:before {
    border-right: 5px solid #7cb342;
    border-bottom: 5px solid #7cb342;
}

/*-----------------------------------------------------------------------------------
    Chart CSS
-----------------------------------------------------------------------------------*/
.amcharts-chart-div > a {
    display: none !important;
}


/*-----------------------------------------------------------------------------------
    Page: Login and Forgot
-----------------------------------------------------------------------------------*/
#login-row {
    width: 100%;
}

#login-form, #forgot-form {
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    padding: 50px 20px 30px 20px;
    max-width: 50%;
    margin: 0 25%;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

#login-form .input-field, #forgot-form .input-field {
    margin: 0px 0px 0px 0px;
    text-align: center;
    position: relative;
    left: 10%;
}

#login-form .input-field input, #forgot-form .input-field input {
    min-width: 350px;
    max-width: 420px;
    display: block !important;
    padding-left: 10px;
}

#login-form .input-field label, #forgot-form .input-field label {
    display: block !important;
}

#login-button, #forgot-button {
    position: relative;
    right: 11%;
    margin-top: 10px;
}

#login-button:hover, #forgot-button:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

#login-links, #forgot-links {
    position: absolute;
    right: 31%;
}

/*-----------------------------------------------------------------------------------
    Search Form CSS
-----------------------------------------------------------------------------------*/
#search-form {
    text-align: right;
}

#searchQuery::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

/*-----------------------------------------------------------------------------------
    Pages: Home
-----------------------------------------------------------------------------------*/
#home {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*----- Buttons --------------*/
#home-button {
    line-height: 50px;
}

#home-button:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 
        0 3px 14px 2px rgba(0,0,0,0.12), 
        0 5px 5px -3px rgba(0,0,0,0.3);
}

#home-button i {
    padding-right: 15px;
    position: relative;
    top: 3px;
}

/*-----------------------------------------------------------------------------------
    Pages: Contact
-----------------------------------------------------------------------------------*/
#contact {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*-----------------------------------------------------------------------------------
    Pages: Settings
-----------------------------------------------------------------------------------*/
#showImg {
    margin-top: 25px;
    max-height: 60%;
    max-width: 60%;
}

/*-----------------------------------------------------------------------------------
    Pages: Debtor
-----------------------------------------------------------------------------------*/
#debtor-index,
#create-debtor, #edit-debtor,
#details-debtor, #remove-debtor {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*----- Buttons --------------*/
#create-debtor-btn, #edit-debtor-btn,
#change-debtor-btn, #remove-debtor-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 170px;
}

#create-debtor-btn:hover, #edit-debtor-btn:hover,
#change-debtor-btn:hover, #remove-debtor-btn:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

#create-debtor-btn > span, #edit-debtor-btn > span,
#change-debtor-btn > span, #remove-debtor-btn > span {
    height: 36px;
    line-height: 40px;
}

#add-debtor-btn, #search-debtor-btn {
    margin-top: -5px;
    width: 120px;
    vertical-align: middle;
}

/*----- Input --------------*/
#details-debtor input[type=text]:disabled, #remove-debtor input[type=text]:disabled,
#details-debtor input[type=email]:disabled, #remove-debtor input[type=email]:disabled {
    color: rgba(0, 0, 0, 0.65) !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.65) !important;
}

#details-debtor input[type=text]:disabled + label, #remove-debtor input[type=text]:disabled + label,
#details-debtor input[type=email]:disabled + label, #remove-debtor input[type=email]:disabled + label {
    color: rgba(0, 0, 0, 0.50) !important;
}

/*-----------------------------------------------------------------------------------
    Pages: Product
-----------------------------------------------------------------------------------*/
#product-index,
#create-product, #edit-product,
#details-product, #remove-product {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*----- Buttons --------------*/
#create-product-btn, #edit-product-btn,
#change-product-btn, #remove-product-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 170px;
}

#create-product-btn:hover, #edit-product-btn:hover,
#change-product-btn:hover, #remove-product-btn:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

#create-product-btn > span, #edit-product-btn > span,
#change-product-btn > span, #remove-product-btn > span {
    height: 36px;
    line-height: 40px;
}

#add-product-btn, #search-product-btn {
    margin-top: -5px;
    width: 120px;
    vertical-align: middle;
}

/*----- Input --------------*/
#details-product input[type=text]:disabled, #remove-product input[type=text]:disabled,
#details-product input[type=email]:disabled, #remove-product input[type=email]:disabled,
#details-product textarea:disabled, #remove-product textarea:disabled {
    color: rgba(0, 0, 0, 0.65) !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.65) !important;
}

#details-product input[type=text]:disabled + label, #remove-product input[type=text]:disabled + label,
#details-product input[type=email]:disabled + label, #remove-product input[type=email]:disabled + label,
#details-product textarea:disabled + label, #remove-product textarea:disabled + label {
    color: rgba(0, 0, 0, 0.50) !important;
}

#create-product form .input-field, #edit-product #form .input-field,
#details-product form .input-field, #remove-product #form .input-field {
    position: relative;
    left: 3%;
}

/*-----------------------------------------------------------------------------------
    Pages: Company
-----------------------------------------------------------------------------------*/
#company-index,
#create-company, #edit-company,
#details-company, #remove-company {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*----- Buttons --------------*/
#create-company-btn, #edit-company-btn,
#change-company-btn, #remove-company-btn {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 170px;
}

#create-company-btn > span, #edit-company-btn > span,
#change-company-btn > span, #remove-company-btn > span {
    height: 36px;
    line-height: 40px;
}

#add-company-btn, #search-company-btn {
    margin-top: -5px;
    width: 120px;
    vertical-align: middle;
}

/*----- Input --------------*/
#details-company input[type=text]:disabled, #remove-company input[type=text]:disabled,
#details-company input[type=email]:disabled, #remove-company input[type=email]:disabled {
    color: rgba(0, 0, 0, 0.65) !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.65) !important;
}

#details-company input[type=text]:disabled + label, #remove-company input[type=text]:disabled + label,
#details-company input[type=email]:disabled + label, #remove-company input[type=email]:disabled + label {
    color: rgba(0, 0, 0, 0.50) !important;
}

/*-----------------------------------------------------------------------------------
    Pages: User
-----------------------------------------------------------------------------------*/
#user-index,
#create-user, #edit-user,
#details-user, #remove-user {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*----- Buttons --------------*/
#create-user-btn, #edit-user-btn,
#change-user-btn, #remove-user-btn {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 170px;
}

#create-user-btn:hover, #edit-user-btn:hover,
#change-user-btn:hover, #remove-user-btn:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

#create-user-btn > span, #edit-user-btn > span,
#change-user-btn > span, #remove-user-btn > span {
    height: 36px;
    line-height: 40px;
}

#add-user-btn, #search-user-btn {
    margin-top: -5px;
    width: 120px;
    vertical-align: middle;
}

/*----- Input --------------*/
#details-user input[type=text]:disabled, #remove-user input[type=text]:disabled, #edit-user input[type=text]:disabled,
#details-user input[type=email]:disabled, #remove-user input[type=email]:disabled, #edit-user input[type=email]:disabled,
#details-user input[type=password]:disabled, #remove-user input[type=password]:disabled, #edit-user input[type=password]:disabled {
    color: rgba(0, 0, 0, 0.65) !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.65) !important;
}

#details-user input[type=text]:disabled + label, #remove-user input[type=text]:disabled + label, #edit-user input[type=text]:disabled + label,
#details-user input[type=email]:disabled + label, #remove-user input[type=email]:disabled + label, #edit-user input[type=email]:disabled + label,
#details-user input[type=password]:disabled + label, #remove-user input[type=password]:disabled + label, #edit-user input[type=password]:disabled + label {
    color: rgba(0, 0, 0, 0.50) !important;
}

/*-----------------------------------------------------------------------------------
    Pages: Admin
-----------------------------------------------------------------------------------*/
#admin-index,
#create-admin, #edit-admin,
#details-admin, #remove-admin,
#settings-admin {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*----- Buttons --------------*/
#create-admin-btn, #edit-admin-btn,
#change-admin-btn, #remove-admin-btn,
#save-settings-btn {
    margin-top: 15px;
    margin-bottom: 25px;
    width: 170px;
}

#create-admin-btn:hover, #edit-admin-btn:hover,
#change-admin-btn:hover, #remove-admin-btn:hover,
#save-settings-btn:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}

#create-admin-btn > span, #edit-admin-btn > span,
#change-admin-btn > span, #remove-admin-btn > span,
#save-settings-btn > span {
    height: 36px;
    line-height: 40px;
}

#add-admin-btn, #search-admin-btn {
    margin-top: -5px;
    width: 120px;
    vertical-align: middle;
}

/*----- Input --------------*/
#details-admin input[type=text]:disabled, #remove-admin input[type=text]:disabled,
#details-admin input[type=email]:disabled, #remove-admin input[type=email]:disabled,
#details-admin input[type=password]:disabled, #remove-admin input[type=password]:disabled {
    color: rgba(0, 0, 0, 0.65) !important;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.65) !important;
}

#details-admin input[type=text]:disabled + label, #remove-admin input[type=text]:disabled + label,
#details-admin input[type=email]:disabled + label, #remove-admin input[type=email]:disabled + label,
#details-admin input[type=password]:disabled + label, #remove-admin input[type=password]:disabled + label {
    color: rgba(0, 0, 0, 0.50) !important;
}

/*-----------------------------------------------------------------------------------
    Pages: Invoice
-----------------------------------------------------------------------------------*/
#invoice-index {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*----- Buttons --------------*/
#add-invoice-btn, #search-invoice-btn {
    margin-top: -5px;
    width: 120px;
    vertical-align: middle;
}

/*-----------------------------------------------------------------------------------
    Pages: My Invoice
-----------------------------------------------------------------------------------*/
#myinvoice-index {
    padding: 40px 40px;
    margin: 0 auto;
    min-height: 250px;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #d0d0d0;
    -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
    box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.66);
}

/*----- Buttons --------------*/
#search-myinvoice-btn {
    margin-top: -5px;
    width: 160px;
    vertical-align: middle;
}

/*-----------------------------------------------------------------------------------
    Media Queries
-----------------------------------------------------------------------------------*/
@media screen and (max-width: 640px) {
    .row .col.s12 {
        padding: 0;
    }

    input, select, textarea {
        max-width: 80%;
    }
}

@media screen and (min-width: 641px) and (max-width: 767px) {
    .body-content {
        width: 100%;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
    }

    #search-form {
        text-align: center;
    }

    .responsive-table {
        width: 100%;
    }

    #button-field {
        white-space: nowrap;
    }

    #searchQuery {
        position: relative;
        left: -28%;
    }

    fieldset {
        width: 100%;
        margin: 0 auto;
        padding: 10px 10px;
    }

    input, select, textarea {
        max-width: 75%;
    }

    /*------------ DEBTORS ---------------*/
    #details-debtor form .row .input-field label,
    #remove-debtor form .row .input-field label {
        padding-left: 13% !important;
    }

    #create-debtor form .row .input-field,
    #edit-debtor form .row .input-field,
    #details-debtor form .row .input-field,
    #remove-debtor form .row .input-field {
        padding-left: 15% !important;
    }

    #create-debtor form .row .input-field label,
    #edit-debtor form .row .input-field label,
    #details-debtor form .row .input-field label,
    #remove-debtor form .row .input-field label {
        padding-left: 15%;
    }

    /*------------ COMPANIES ---------------*/
    #details-product form .row .input-field label,
    #remove-product form .row .input-field label {
        padding-left: 13% !important;
    }

    #create-product form .row .input-field,
    #edit-product form .row .input-field,
    #details-product form .row .input-field,
    #remove-product form .row .input-field {
        padding-left: 15% !important;
    }

    #create-product form .row .input-field label,
    #edit-product form .row .input-field label,
    #details-product form .row .input-field label,
    #remove-product form .row .input-field label {
        padding-left: 15%;
    }
}

@media screen and (max-width: 768px) {
    .body-content {
        width: 100%;
        margin: 0 auto;
        padding-left: 7px;
        padding-right: 7px;
    }

    #search-form {
        text-align: center;
    }

    .responsive-table {
        width: 100%;
    }

    #button-field {
        white-space: normal;
    }

    #searchQuery {
        position: relative;
        left: 0%;
        max-width: inherit !important;
        margin: 0 auto;
    }

    /*------------ LOGIN ---------------*/
    #login-row, #forgot-row {
        max-width: 100vw;
        width: 100%;
        margin: 0 auto;
    }

    #login-form, #forgot-form {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0;
        max-width: 100%;
        padding-top: 20px;
    }

    #login-form .input-field, #forgot-form .input-field {
        left: 0%;
        margin: 10px auto 0 auto;
    }

    #login-form .input-field input, #forgot-form .input-field input {
        min-width: 80%;
        max-width: 90%;
        display: block !important;
        margin: 0 auto;
    }

    #login-form .input-field label, #forgot-form .input-field label {
        display: inline-block !important;
        margin: 0 auto;
        padding-left: 20px;
    }

    #login-links, #forgot-links {
        right: 28%;
    }

    #login-button, #forgot-button {
        position: relative;
        left: 5%;
        margin-top: 10px;
        float: left !important;
        width: 90%;
        margin-bottom: 20px;
    }

    /*------------ ADMINS ---------------*/
    #add-admin-btn, #search-admin-btn, #create-admin-btn {
        margin-top: 10px;
        width: 100%;
    }

    /*------------ BUTTONS ---------------*/
    #button-area {
        float: none;
        margin-right: 0;
    }

    #button-area button {
        width: 100%;
    }

    #button-area button i {
        display: none;
    }

    #button-area a {
        position: relative;
        left: 40%;
        font-size: 15px;
        font-weight: bold;
    }

    /*------------ USER ---------------*/
    #search-user-btn {
        margin-top: 10px;
        width: 100%;
    }

    /*------------ DEBTORS ---------------*/
    #debtor-index,
    #create-debtor, #edit-debtor,
    #details-debtor, #remove-debtor {
        padding: 20px 15px;
    }

    #add-debtor-btn, #search-debtor-btn {
        margin-top: 10px;
        width: 100%;
    }

    /*------------ COMPANIES ---------------*/
    #company-index,
    #create-company, #edit-company,
    #details-company, #remove-company {
        padding: 20px 15px;
    }

    #add-company-btn, #search-company-btn {
        margin-top: 10px;
        width: 100%;
    }

    /*------------ INVOICES ---------------*/
    #invoice-index,
    #create-invoice, #edit-invoice,
    #details-invoice, #remove-invoice {
        padding: 20px 15px;
    }

    #add-invoice-btn, #search-invoice-btn {
        margin-top: 10px;
        width: 100%;
    }

    /*------------ PRODUCTS ---------------*/
    #product-index,
    #create-product, #edit-product,
    #details-product, #remove-product {
        padding: 20px 15px;
    }

    #create-product #form .input-field, #edit-product #form .input-field,
    #details-product #form .input-field, #remove-product #form .input-field {
        left: 0%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px){
    #button-field {
        white-space: normal;
    }

    #button-field button {
        width: 90%;
        margin: 3px auto;
    }

    #button-field a {
        width: 90%;
        margin: 3px auto;
    }

    #searchQuery {
        position: relative;
        left: -11%;
    }
}