@model InvoiceWebApp.Models.Debtor

@{
    ViewData["Title"] = "Create Debtor";
}


<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Create Debtor</h1>
                <hr style="width:60%;border-top:2px solid #fff;" />
            </div>
        </div>

        <div class="main-large-deb main-center">
            <form class="form-horizontal" asp-controller="Debtors" asp-action="Create">
                
                <!--LEFT COLUMN-->
                <div class="col-sm-7 col-md-7">
                    <!--PERSONAL ID NUMBER-->
                    <div class="form-group">
                        <label asp-for="IdNumber" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="IdNumber" class="form-control" id="idnumber"
                                       placeholder="Enter personal id number" />
                            </div>
                        </div>
                        <span asp-validation-for="IdNumber" class="text-danger" style="position: relative;left:3.6%;top:0%;" />
                    </div>

                    <!--FIRST NAME-->
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right: 26px;">
                                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="FirstName" class="form-control" id="firstname"
                                       placeholder="Enter first name" />
                            </div>
                        </div>
                        <span asp-validation-for="FirstName" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                    <!--LAST NAME-->
                    <div class="form-group">
                        <label asp-for="LastName" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right: 26px;">
                                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="LastName" class="form-control" id="lastname"
                                       placeholder="Enter last name" />
                            </div>
                        </div>
                        <span asp-validation-for="LastName" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                    <!--EMAIL-->
                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right: 21px;">
                                    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="Email" class="form-control" id="email"
                                       placeholder="Enter email" />
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                    <!--PHONE-->
                    <div class="form-group">
                        <label asp-for="Phone" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon" style="padding-right: 25px;">
                                    <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="Phone" class="form-control" id="phone"
                                       placeholder="Enter phone number" />
                            </div>
                        </div>
                        <span asp-validation-for="Phone" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                    <!--BANK ACCOUNT-->
                    <div class="form-group">
                        <label asp-for="BankAccount" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-university fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="BankAccount" class="form-control" id="bankaccount"
                                       placeholder="Enter bank account number" />
                            </div>
                        </div>
                        <span asp-validation-for="BankAccount" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                </div>
                <!--END OF LEFT COLUMN-->
                <!-------------------------------------------------------------------------------------------->
                <!--RIGHT COLUMN-->
                <div class="col-sm-5 col-md-5">
                    <!--ADDRESS-->
                    <div class="form-group">
                        <label asp-for="Address" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="Address" class="form-control" id="address"
                                       placeholder="Enter address" />
                            </div>
                        </div>
                        <span asp-validation-for="Address" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                    <!--POSTAL CODE-->
                    <div class="form-group">
                        <label asp-for="PostalCode" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="PostalCode" class="form-control" id="postal"
                                       placeholder="Enter postal code" />
                            </div>
                        </div>
                        <span asp-validation-for="PostalCode" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                    <!--CITY-->
                    <div class="form-group">
                        <label asp-for="City" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="City" class="form-control" id="city"
                                       placeholder="Enter city" />
                            </div>
                        </div>
                        <span asp-validation-for="City" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                    <!--COUNTRY-->
                    <div class="form-group">
                        <label asp-for="Country" class="col-sm-2 col-md-2 control-label"
                               style="padding-left:0px;padding-right:0px;font-size:14px;"></label>
                        <div class="col-sm-10 col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                                <input type="text" asp-for="Country" class="form-control" id="country"
                                       placeholder="Enter country" />
                            </div>
                        </div>
                        <span asp-validation-for="Country" class="text-danger" style="position: relative;left:20%;top:0%;" />
                    </div>

                    <!--SPACER-->
                    <div class="form-group">
                        <div class="col-md-10">
                            <br />
                        </div>
                    </div>

                    <!--CREATE BUTTON-->
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="create_deb_btn" type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
                <!--END OF RIGHT COLUMN-->

            </form>

        </div>

        <a asp-action="Index" style="position:absolute;top:93%;left:5%;">Back to Overview</a>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
